<style>
  .content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 17px;
  }

  span {
    font-size: 16px;
    color: #707070;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #707070;
  }
</style>

<div class="content">
  <h2>Chegou um novo pedido :D</h2>
  <p>Cliente: {{customer}}</p>
  <p>Forma de Pagamento: {{paymentMethod}}</p>
  <br />
  <p class="comments">Data: {{createdAt}}</p>

  <p>Total: {{orderTotal}}</p>

  <a href="{{link}}" title="Acompanhar pedido">Ver pedido</a> <br />
  <span>{{store}}</span>
</div>